
<h1><strong>About Me</strong></h1>
<div class="jumbotron"
	<p>My name is Rebecca. I am currently building this site through One Month Rails.</p>
	<p>Click here <%= link_to "here", "#", class: "btn btn-primary btn-md"%> to learn more about me and why I am taking this class.</p>
</div>